*.FDB
migracao-dados/export_csv/
.env*
!.env*.example
node_modules/
supabase/.temp/
supabase/.branches/

# Next.js
.next/
out/
build/
*.tsbuildinfo
next-env.d.ts
.vercel
npm-debug.log*
coverage/
.DS_Store
